* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-component_link-wrapper {
  pointer-events: auto !important;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

.w-richtext > :last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
  margin-bottom: 0 !important;
}

/*
note from Ilya: disabled this as it was stuffing up colours on tablet nav
*/
a, .w-input, .w-select, .w-tab-link, .w-nav-link
{
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

.pointer-events-off {
  pointer-events: none;
}

.pointer-events-on {
  pointer-events: auto;
}

.div-square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

main:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

.container-medium, .container-small, .container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

.w-input, .w-select, a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

.text-style-6lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.text-style-4lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-style-3lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-style-2lines {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.truncate-width {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.display-inlineflex {
  display: inline-flex;
}

.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .hide, .hide-tablet {
      display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
      display: none !important;
  }
}

@media screen and (max-width: 479px) {
  .hide-mobile {
      display: none !important;
  }
}

.margin-0 {
  margin: 0rem !important;
}

.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
  padding: 0rem !important;
  margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.card-component_pagination-dot.is-active, .button-gradient-wrapper, .button, .active-button, .is-alternate-gradient {
  background: url(https://cdn.prod.website-files.com/63eef15e3ff8fd318e9a6888/646b9fe0b47d2eed57f9b316_gradient-flipped.webp);
  background-size: 150% 150%;
  background-position: center center;
}

.text-color-alternate-gradient {
  background: url(https://cdn.prod.website-files.com/63eef15e3ff8fd318e9a6888/646b9fe0b47d2eed57f9b316_gradient-flipped.webp);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  background-size: cover;
}

.text-style-highlight {
  background: linear-gradient(94.16deg, #d90e72 3.35%, #ed616e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.is-pricing, .is-alternate, .is-link, .is-secondary {
  background-color: transparent !important;
  background: transparent;
}

.is-alternate:hover, .is-link:hover, .is-secondary:hover {
  box-shadow: none;
}

.gradient-wrapper {
  pointer-events: none;
}

.background-color-black-gradient {
  background: linear-gradient(180deg, #13171c 0%, rgba(19, 23, 28, 0) 100%);
}

@media (min-width: 991px) {
  .card-component_item .button {
      height: 0rem;
      max-height: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      opacity: 0;
      margin-top: 2rem;
      transition: height 0.5s ease-in-out, max-height 0.5s ease-in-out, padding 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .card-component_item:hover .button {
      height: auto;
      max-height: 5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 0rem !important;
      padding-right: 0rem !important;
      opacity: 1;
  }

  .card-component_item:hover {
      opacity: 1;
  }
}

@media (max-width: 767px) {
  .card-component_item .button {
  }
}

.text-color-orange-gradient {
  background: linear-gradient(90deg, #f4964c 0.89%, #e77f7b 99.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-color-pink-gradient {
  background: linear-gradient(90deg, #e31b73 0.89%, #e84175 99.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-color-purple-gradient {
  background: linear-gradient(90deg, #b95d9c 0.89%, #d499f0 99.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.case-studies_item .button-gradient-wrapper {
  opacity: 0;
}

.case-studies_item:hover .button-gradient-wrapper {
  opacity: 1;
}

.footer_link-list .embed-wrapper {
  transition: transform 0.5s ease-in;
}

.footer_link-list.open .embed-wrapper {
  transform: rotate(180deg);
}

.card-component_pagination {
  transform: none !important;
}

@media (min-width: 768px) {
  .upskill_component .card-component_navigation-wrapper {
      display: none;
  }
}

@media (max-width: 767px) {
  .case-studies_item-link .button {
      display: none;
  }
}

.section_blog-header {
  background: linear-gradient(180deg, #13171c 0%, rgba(19, 23, 28, 0) 100%);
}

@media (min-width: 991px) {
  .card-component_list > .card-component_item:nth-child(n + 5) {
      display: none;
  }

  .card-component_list > .card-component_item.no-crop:nth-child(n + 5) {
      display: block;
  }

  .card-component_list > .card-component_item-no-hover:nth-child(n + 5) {
      display: none;
  }
}

.policy-content_link.w--current .active-button {
  margin-left: 0rem;
  opacity: 1;
}

[cl-function='truncate-two'] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

[cl-function='truncate-three'] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

[cl-style='1x1'] {
  aspect-ratio: 1 / 1;
}

.faqs_accordion.is-active .faqs_answer {
  max-height: 20rem !important;
}

.faqs_accordion.is-active .faqs_icon {
  transform: rotate(180deg)
}

.faqs_accordion.is-active .active-button {
  margin-left: 0rem;
  opacity: 1;
}

.is-orange {
  background: linear-gradient(90deg, #f4964c 0.89%, #e77f7b 99.11%);
}

.is-pink {
  background: linear-gradient(90deg, #e31b73 0.89%, #e84175 99.11%);
}

.is-purple {
  background: linear-gradient(90deg, #b95d9c 0.89%, #d499f0 99.11%);
}

.text-color-orange-gradient {
  background: linear-gradient(90deg, #f4964c 0.89%, #e77f7b 99.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-color-pink-gradient {
  background: linear-gradient(90deg, #e31b73 0.89%, #e84175 99.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-color-purple-gradient {
  background: linear-gradient(90deg, #b95d9c 0.89%, #d499f0 99.11%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media (max-width: 767px) {
  ._3-col-info_item .heading-style-h4 {
      font-size: 1.5rem;
  }
}

.card-component_navigation-wrapper .card-component_pagination-dot:nth-child(n + 6) {
  display: none;
}

.cloud-modernization_card-content:hover .icon-embed-xxsmall {
  color: #d80c71;
}

.button.is-alternate:hover .is-alternate-gradient.button-bg {
  opacity: 1;
}

.background-color-black-gradient-reversed {
  background: linear-gradient(0deg, #13171c 0%, rgba(19, 23, 28, 0) 100%);
}

@media (max-width: 991px) {
  .card-component_item-content .button {
      margin-top: 2rem;
  }
}

.policy-content_link:hover .simple-embed-wrapper {
  opacity: 1;
  transform: translate(0rem, 0rem);
}

.button.is-icon:hover svg {
  transform: translate(0.25rem, 0rem);
}

.button.is-icon svg {
  transition: transform, 0.2s
}

.card-component_link-wrapper {
  pointer-events: none
}

.is-senior-instructor, .label.is-instructor {
  background: linear-gradient(90.31deg, #3E4687 0.34%, #D80C71 181.15%), linear-gradient(90.22deg, #A43C99 0.19%, #D80C71 60.24%, #F6944D 121.55%);
}

@media (max-width: 767px) {
  .instructors_filters {
      overflow-x: auto;
      overflow-y: hidden;
  }
}

@media (min-width: 991px) {
  .instructors_checkbox-wrapper:hover .instructors_radio-button {
      background-image: url("https://assets-global.website-files.com/63eef15e3ff8fd318e9a6888/6458c0fc89e2f2dd6391bfc4_Vector.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
  }
}

@media (min-width: 991px) {
  .blog-listings_link .button {
      opacity: 0;
      transition: opacity 0.6s ease-in-out;
  }

  .blog-listings_link:hover .button {
      opacity: 1;
  }

  .blog-listings_link .text-style-4lines, .blog-listings_link .heading-style-h5 {
      transition: transform 0.4s ease-in-out;
  }

  .blog-listings_link:hover .text-style-4lines, .blog-listings_link:hover .heading-style-h5 {
      transform: translate(0rem, -3rem);
  }
}

.text-style-2lines,.text-style-3lines,.text-style-4lines,.text-style-6lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.padding-0,.spacing-clean {
  padding: 0!important
}

.margin-bottom,.margin-horizontal,.margin-left,.margin-right,.w-richtext>:not(div):first-child,.w-richtext>div:first-child>:first-child {
  margin-top: 0!important
}

.margin-horizontal,.margin-left,.margin-right,.margin-top,.w-richtext ol li:last-child,.w-richtext ul li:last-child,.w-richtext>:last-child {
  margin-bottom: 0!important
}

.padding-bottom,.padding-horizontal,.padding-left,.padding-right {
  padding-top: 0!important
}

.padding-horizontal,.padding-left,.padding-right,.padding-top {
  padding-bottom: 0!important
}

.padding-bottom,.padding-left,.padding-top,.padding-vertical {
  padding-right: 0!important
}

.padding-bottom,.padding-right,.padding-top,.padding-vertical {
  padding-left: 0!important
}

.text-color-alternate-gradient,.text-color-orange-gradient,.text-color-pink-gradient,.text-color-purple-gradient,.text-style-highlight {
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit
}

.w-input,.w-nav-link,.w-select,.w-tab-link,a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit
}

.card-component_link-wrapper,.gradient-wrapper,.pointer-events-off {
  pointer-events: none
}

.pointer-events-on {
  pointer-events: auto
}

.div-square::after {
  content: '';
  display: block;
  padding-bottom: 100%
}

main:focus-visible {
  outline: -webkit-focus-ring-color auto 0
}

.container-large,.container-medium,.container-small {
  margin-right: auto!important;
  margin-left: auto!important
}

.margin-bottom,.margin-left,.margin-top,.margin-vertical {
  margin-right: 0!important
}

.margin-0,.spacing-clean {
  margin: 0!important
}

.margin-bottom,.margin-right,.margin-top,.margin-vertical {
  margin-left: 0!important
}

.w-input,.w-select,a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit
}

.text-style-6lines {
  -webkit-line-clamp: 6
}

.text-style-4lines {
  -webkit-line-clamp: 4
}

.text-style-3lines {
  -webkit-line-clamp: 3
}

.text-style-2lines,[cl-function=truncate-two] {
  -webkit-line-clamp: 2
}

.truncate-width {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none
}

.no-scrollbar::-webkit-scrollbar {
  display: none
}

.display-inlineflex {
  display: inline-flex
}

.hide {
  display: none!important
}

@media screen and (max-width: 991px) {
  .hide,.hide-tablet {
      display:none!important
  }
}

@media screen and (max-width: 767px) {
  .hide-mobile-landscape {
      display:none!important
  }
}

@media screen and (max-width: 479px) {
  .hide-mobile {
      display:none!important
  }
}

[cl-function=truncate-three],[cl-function=truncate-two] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden
}

.active-button,.button,.button-gradient-wrapper,.card-component_pagination-dot.is-active,.is-alternate-gradient {
  background: url(https://cdn.prod.website-files.com/63eef15e3ff8fd318e9a6888/645f34ba168c7d2a9aff6b71_Colour.webp) top left/130% auto
}

.text-color-alternate-gradient {
  background: url(https://cdn.prod.website-files.com/63eef15e3ff8fd318e9a6888/645f34ba168c7d2a9aff6b71_Colour.webp) 0 0/125% 100% padding-box text;
  -webkit-background-clip: text
}

.text-style-highlight {
  background: linear-gradient(94.16deg,#d90e72 3.35%,#ed616e 100%);
  -webkit-background-clip: text;
  background-clip: text
}

.is-alternate,.is-link,.is-pricing,.is-secondary {
  background-color: transparent!important;
  background: 0 0
}

.is-alternate:hover,.is-link:hover,.is-secondary:hover {
  box-shadow: none
}

.background-color-black-gradient,.section_blog-header {
  background: linear-gradient(180deg,#13171c 0,rgba(19,23,28,0) 100%)
}

.case-studies_item .button-gradient-wrapper {
  opacity: 0
}

.button.is-alternate:hover .is-alternate-gradient.button-bg,.case-studies_item:hover .button-gradient-wrapper {
  opacity: 1
}

.footer_link-list .embed-wrapper {
  transition: transform .5s ease-in
}

.faqs_accordion.is-active .faqs_icon,.footer_link-list.open .embed-wrapper {
  transform: rotate(180deg)
}

.card-component_pagination {
  transform: none!important
}

@media (min-width: 768px) {
  .upskill_component .card-component_navigation-wrapper {
      display:none
  }
}

@media (min-width: 991px) {
  .card-component_item .button {
      height:0;
      max-height: 0;
      padding: 0;
      opacity: 0;
      margin-top: 2rem;
      transition: height .5s ease-in-out,max-height .5s ease-in-out,padding .5s ease-in-out,opacity .5s ease-in-out
  }

  .card-component_item:hover .button {
      height: auto;
      max-height: 5rem;
      padding: 1rem 1.5rem;
      opacity: 1
  }

  .card-component_item .card-component_play-button-wrapper {
      opacity: 0
  }

  .card-component_item:hover,.card-component_item:hover .card-component_play-button-wrapper {
      opacity: 1
  }

  .card-component_list>.card-component_item-no-hover:nth-child(n+5),.card-component_list>.card-component_item:nth-child(n+5) {
      display: none
  }

  .card-component_list>.card-component_item.no-crop:nth-child(n+5) {
      display: block
  }
}

.faqs_accordion.is-active .active-button,.policy-content_link.w--current .active-button {
  margin-left: 0;
  opacity: 1
}

[cl-function=truncate-three] {
  -webkit-line-clamp: 3
}

[cl-style='1x1'] {
  aspect-ratio: 1/1
}

.faqs_accordion.is-active .faqs_answer {
  max-height: 20rem!important
}

.is-orange {
  background: linear-gradient(90deg,#f4964c .89%,#e77f7b 99.11%)
}

.is-pink {
  background: linear-gradient(90deg,#e31b73 .89%,#e84175 99.11%)
}

.is-purple {
  background: linear-gradient(90deg,#b95d9c .89%,#d499f0 99.11%)
}

.text-color-orange-gradient {
  background: linear-gradient(90deg,#f4964c .89%,#e77f7b 99.11%);
  -webkit-background-clip: text;
  background-clip: text
}

.text-color-pink-gradient {
  background: linear-gradient(90deg,#e31b73 .89%,#e84175 99.11%);
  -webkit-background-clip: text;
  background-clip: text
}

.text-color-purple-gradient {
  background: linear-gradient(90deg,#b95d9c .89%,#d499f0 99.11%);
  -webkit-background-clip: text;
  background-clip: text
}

@media (max-width: 767px) {
  .case-studies_item-link .button {
      display:none
  }

  ._3-col-info_item .heading-style-h4 {
      font-size: 1.5rem
  }
}

.card-component_navigation-wrapper .card-component_pagination-dot:nth-child(n+6) {
  display: none
}

.cloud-modernization_card-content:hover .icon-embed-xxsmall {
  color: #d80c71
}

.background-color-black-gradient-reversed {
  background: linear-gradient(0deg,#13171c 0,rgba(19,23,28,0) 100%)
}

@media (max-width: 991px) {
  .card-component_item-content .button {
      margin-top:2rem
  }
}

.policy-content_link:hover .simple-embed-wrapper {
  opacity: 1;
  transform: translate(0,0)
}

.button.is-icon:hover svg {
  transform: translate(.25rem,0)
}

.button.is-icon svg {
  transition: transform,.2s
}

*, *::before, *::after {
  box-sizing: border-box;
}

.form-input {
  font-size: 0.875rem !important;
}

select {
  font-size: 0.875rem !important;
  color: #bfc2d1 !important;
  appearance: none !important;
}

.form-dropdown-item.w--current {
  color: inherit !important;
}

@media screen and (max-width: 991px) {
  [nav-style="outline"] .nav_dropdown-item:not(:last-child) {
      border-bottom: 1px solid rgba(255,255,255,0.15);
  }
}

.is-invalid {
  color: #dc384c;
}

.is-invalid::placeholder {
  color: #dc384c;
}

.form-dropdown.is-invalid, .form-input.is-invalid {
  border: 1px solid #dc384c;
}

.form-dropdown-text.is-invalid {
  color: #dc384c;
}

@media only screen and (max-width: 1118px) {
  .nav_links-wrapper {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      display: flex;
  }

  .nav_menu {
      grid-column-gap: 16px;
      display: flex;
  }
}